.recipes {
  background: center / cover no-repeat #0a2750
    url(../images/background_recipes.svg);
  padding: 100px 0 215px 80px;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__title {
  margin: 0 0 24px;
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0 0 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.recipes__iframe {
  border: 0;
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0;
}
